@import "../setup/mixins.scss";
$clr3: #fafafa;

.pad-list {
  padding: 10px;
  padding-bottom: 133px;
  color: $clr3;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @include for-narrow-layout {
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
  }
  @include for-normal-layout {
    gap: 30px;
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
