// Colors
$clr1: #525564;
$clr2: #c25b56;
$clr3: #fafafa;

$bg: #212121;
$nav-bg: #181818;
$mute: #ffed2f;
$loop: #337c33;
$toggle-disable: #a1a1a1;

$drums: #f53803;
$bass: #166d3b;
$guitar: #04619f;
$shaker: #923cb5;
$sax: #ffeaa7;
$vocal: #6247aa;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 960px;
